:root {
    color-scheme: light dark;
}

html {
    min-width: 300px;
    margin-top: -20px;
    padding: 10px;
}

body {
    width: 100%;
    
    font-family: system-ui;
    text-align: center;
    
    background-color: #F2F2F7;

    display: inline;
}

section {
    width: 100%;
}

.sectionContent {
    width: 100%;

    background-color: white;
    border-radius: 12px;
}

.sectionHeader, .sectionFooter {
    width: 100%;
    padding-top: 20px;
    
    font-size: 14px;
    font-weight: 300;
    text-align: left;

    float: left;
}

.sectionFooter {
    padding-bottom: 20px;
}

/* Buttons */
button {
    height: 52px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    
    border: none;
    background-color: white;
    border-radius: 12px;
    
    font-size: 16px;
    font-weight: 600;
}

/* Links */
a {
    color: #0070F3;
    text-decoration: none;
}

/* Dark Mode styles go here. */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
    }

    button, .sectionContent {
        background-color: #1C1C1E;
    }
}
